<%= javascript_include_tag 'customer_data' %>

<div id="customer-id" data-customer-id="<%= @customer.id %>"></div>

<section class="wrapper-invoice">

  <div class="invoice">
    <div class="invoice-information">
      <p><b>Invoice id</b> : <%= @invoice.id %> </p>
      <p><b>Customer name</b>: <span id= "name"></p>
      <p><b>Customer rfc</b>: <%= @customer.rfc %></p>
    </div>
    <div class="invoice-body">
      <table class="table">
        <thead>
          <tr>
            <th>Hrs/Qty</th>
            <th>Product/Service</th>
            <th>Rate/Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @invoice.invoice_items.each do |item| %>
            <tr>
              <td><%= item.quantity %></td>
              <td><%= item.product %></td>
              <td><%= number_to_currency(item.unit_price) %></td>
              <td><%= number_to_currency(item.amount) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="flex-table">
        <div class="flex-column"></div>
        <div class="flex-column">
          <table class="table-subtotal">
            <tbody>
              <tr>
                <td>Sub Total</td>
                <td><%= number_to_currency(@invoice.sub_total) %></td>
              </tr>
              <tr>
                <td>Tax</td>
                <td><%= number_to_currency(@invoice.tax) %></td>
              </tr>
              <tr>
                <td id="table-total">Total</td>
                <td id="table-total"><%= number_to_currency(@invoice.total) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- invoice total  -->
      <div class="invoice-additional_tax">
        <% if @invoice.additional_tax_required? %>
          <p>Additional tax should be added.</p>
        <% else %>
          <p>Additional tax is not needed.</p>
        <% end %>
      </div>
    </div>

  </div>
</section>
